<mat-card class="fles-row justify-center">
  <mat-card-title class="text-center pb-5">Login</mat-card-title>
  <mat-card-content class="ml-auto border-none">
    <form
      class="example-form w-80 m-auto"
      #loginform="ngForm"
      (submit)="proceedLogin(loginform.value)"
    >
      <mat-form-field class="example-full-width w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          name="email"
          required
          [(ngModel)]="form.email"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width w-full" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          name="password"
          required
          [(ngModel)]="form.password"
        />
      </mat-form-field>
      <div class="flex justify-evenly">
        <button
          mat-raised-button
          type="submit"
          class="bg-green-600 text-slate-100"
        >
          Login
        </button>
        <button
          mat-raised-button
          class="bg-blue-500 text-slate-100"
          (click)="redirectRegister()"
        >
          <!-- <a routerLink="/access/register">Register</a> -->
          Register
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
