<div class="wrapper min-h-screen flex-row justify-between items-stretch">
  <nav
    class="flex justify-between p-4 bg-green-600 text-white fixed top-0 left-0 right-0"
  >
    <div class="flex justify-between w-60">
      <a
        class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
        routerLink="/"
        >Home</a
      >
      <a
        class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
        routerLink="/about"
        >About</a
      >
      <a
        class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
        routerLink="/contact"
        >Contact</a
      >
      <ng-container *ngIf="isAdmin">
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          routerLink="/user"
          >Users</a
        >
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="!isAuthenticated()">
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          routerLink="/login"
          >Login</a
        >
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          routerLink="/access/register"
          >Register</a
        >
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          (click)="logout()"
          >Logout</a
        >
      </ng-container>
    </div>
  </nav>

  <div class="m-5 min-h-screen mt-20">
    <router-outlet></router-outlet>
  </div>

  <footer
    *ngIf=" isAuthenticated()"
    class="flex justify-center p-4 bg-green-600 text-white"
  >
    <p class="font-semibold">© 2022 All rights reserved</p>
  </footer>
</div>
