<h4 class="w-full text-center">Users</h4>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{element._id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{element.role}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.isActive">Active</span>
      <span *ngIf="!element.isActive">Inactive</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex justify-evenly">
        <button
          mat-raised-button
          class="bg-blue-500 text-slate-100"
          (click)="FunctionUpdate(element._id)"
        >
          Change
        </button>
        <button
          mat-raised-button
          class="bg-red-500 text-slate-100"
          (click)="FunctionDelete(element._id)"
        >
          Delete
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[3, 5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
